<section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2><small>Captação 2021.2</small>Formas de Ingresso</h2>
          <p>Laborum iste nobis magni neque dignissimos ut in dolorem temporibus. Odio vero dolores, veniam aperiam vel maxime ea corporis ex, obcaecati voluptates ratione deleniti, possimus facilis ipsam nam eveniet consequuntur voluptatibus deserunt modi animi! Quaerat optio minus, repudiandae iste in velit quibusdam!</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, facilis sit! Accusantium eveniet, dignissimos odio omnis temporibus, suscipit deleniti voluptate ea iste saepe inventore soluta facere ullam cum in! Repellendus, voluptas temporibus voluptatem dicta labore ut hic omnis excepturi voluptates veniam molestias. Consequatur, architecto quia.</p>
          <button class="btn btn-md btn-warning" data-bs-toggle="modal" (click)="openModal()" data-bs-target="#cursoModal">Quero fazer minha matrícula</button>
          <a href="#" class="btn btn-md btn-secondary">Baixar o edital</a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
          <img src="assets/img/pict_h01.png" alt="IMG01" class="img-fluid">
        </div>
      </div>
      <div class="row" id="cursos">
        <div class="col-md-3">
          <img src="assets/img/pict_h02.png" alt="IMG02" class="img-fluid">
        </div>
        <div class="col-md-9">
          <h3>Cursos de Graduação</h3>
          <div class="row">
            <div class="col-md-6">
              <ul>
                <li>Administração</li>
                <li>Ciencia da computação</li>
                <li>Ciencias Contábeis</li>
                <li>Direito</li>
                <li>Engenharia Civil</li>
                <li>Engenharia de Produção</li>
                <li>Pedagogia</li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul>
                <li>Análise e desenvolvimento de sistemas</li>
                <li>Gestão Comercial</li>
                <li>Gestão de Recursos Humanos</li>
                <li>Gestão Financeira</li>
                <li>Logística</li>
                <li>Processos Gerenciais</li>
                <li>Redes de Computadores</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="cursoModal" tabindex="-1" aria-labelledby="cursoModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h2>Qual o tipo de curso deseja realizar?</h2>
            <fieldset>
              <input type="radio" name="tipo" (change)="onItemChange($event)" value="G" id="tipo_g">
              <label for="tipo_g">Graduação</label>
              <input type="radio" name="tipo" (change)="onItemChange($event)" value="P" id="tipo_p" checked> 
              <label for="tipo_p">Pós-Graduação</label>
            </fieldset>
            <button class="btn btn-info" (click)="redirectByRadio()">Buscar cursos</button>
          </div>
        </div>
      </div>
    </div>
  </section>